# ZEP API Configuration
ZEP_BASE_URL=https://www.zep-online.de/zepgeroldguelker/next
ZEP_API_KEY=1ae0e45967a38b9ecbb22b249a90fcbd80ef986141c4ce21a04ed3d8d6a9ca2a

# Server Configuration
PORT=3000
NODE_ENV=production 